{% extends "base.html" %}

{% block content %}
{% load static %}
{% if random_products %}
  <section id="banner" style="background: #F9F3EC;">
    <div class="container">
      <div class="swiper main-swiper">
        <div class="swiper-wrapper">
          {% for product in random_products %}
          <div class="swiper-slide py-5">
            <div class="row banner-content align-items-center">
              <div class="img-wrapper col-md-5">
                <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="img-fluid">
              </div>
              <div class="content-wrapper col-md-7 p-5 mb-5">
                <h2 class="banner-title display-1 fw-normal">Best offers for <span class="text-primary">You</span>!!!</h2>
                <a href="{% url 'product' product.id %}" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
                  Check It
                  <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination mb-5"></div>
      </div>
    </div>
  </section>
{% endif %}

  <section id="categories">
    <div class="container my-3 py-5">
      <div class="row my-5">

        {% for category in categories %}
        <div class="col text-center">
          <a href="{% url 'shop' %}?category={{ category.id }}" class="categories-item">
            <iconify-icon class="category-icon" icon="{{ category.logo }}"></iconify-icon>
            <h5>{{ category.category_name }}</h5>
          </a>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

  {% for category in categories %}
    <section id="{{ category.category_name }}" class="my-5 overflow-hidden">
      <div class="container pb-5">

        <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
          <h2 class="display-3 fw-normal">{{ category.category_name }}</h2>
          <div>
            <a href="{% url 'shop' %}?category={{ category.id }}" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 item {{ product.category.id }}" data-filter=".{{ category.id }}">
              shop now
              <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                <use xlink:href="#arrow-right"></use>
              </svg></a>
          </div>
        </div>

          <div class="products-carousel swiper">
            <div class="swiper-wrapper">
              {% for product in category.products.all %}
              <div class="swiper-slide">
                {% include 'single_product_card.html' %}
              </div>
              {% endfor %}
            </div>
          </div>

      </div>
    </section>
  {% endfor %}
{% endblock %}