{% extends "base.html" %}

{% block content %}
{% load static %}

  <section id="foodies" class="my-5">
    <div class="container my-5 py-5">
        <h2>My wishlist:</h2>
      <div class="section-header d-md-flex justify-content-between align-items-center">
        <div class="mb-4 mb-md-0">
          <p class="m-0">
            <button class="filter-button me-4  active" data-filter="*">ALL</button>
            {% for category in wishlist_categories %}
                <button class="filter-button me-4 " data-filter=".{{ category.id }}">{{ category.category_name }}</button>
            {% endfor %}
          </p>
        </div>
      </div>
      <div class="isotope-container row">
        {% if wishlist_list %}
        {% for item in wishlist_list %}
          {% with product=item.product %}
            <div class="item {{ product.category.id }} col-md-4 col-lg-3 my-4">
              {% include 'single_product_card.html' %}
            </div>
          {% endwith %}
        {% endfor %}
      {% else %}
        <p>Your wishlist is empty. Start adding your favorite items!</p>
      {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
